{% extends 'main/base.html' %}

{% block title %} {{ iname }} Certifications {% endblock %}

{% block content %}
<div class="main-content">
    <h3>{{ iname }}</h1>
    <table class="certifications">
        <tbody>
            <thead>
                <td><strong>Id</strong></td>
                <td><strong>Course</strong></td>
                <td><strong>First Year Fee</strong></td>
            </thead>
            {% for certification in certifications_data %}
            <tr>
                <td>{{ certification.programme_code }}</td>
                <td>{{ certification.programme_name}}</td>
                <td>{{ certification.year_1_programme_cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}