{% extends 'main/base.html' %}

{% block title %} Courses

{% endblock %}

{% block content %}

<div class="main-content">
    <h1>Courses</h1>
    <p>As at the moment, the following are the courses offered in Kenya</p>

    <table class="courses">
        <thead>
            <td>No.</td>
            <td>Course</td>
            <td>Cluster</td>
        </thead>
        <tbody>
        {% for item in courses %}
            <tr data-programme="{{ item.programme_name }}">
                <td>{{ item.course_id }}.</td>
                <td>{{ item.programme_name }}</td>
                <td>{{  item.cluster }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}