{% extends 'main/base.html' %}

{% block title %} Courses

{% endblock %}

{% block content %}

<div class="main-content">

    <h1>Courses</h1>

    <table class="courses">
        <thead>
            <td><strong>No.</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Cluster</strong></td>
        </thead>
        <tbody>
            {% for item in courses %}
                {% if item.certification_set.exists %} 
                    <tr data-programme="{{ item.programme_name }}">
                        <td>{{ forloop.counter }}.</td>
                        <td>
                            <a href="{% url 'certifications_by_programme' programme_name=item.programme_name %}">
                                {{ item.programme_name }}
                            </a>
                        </td>
                        <td>{{ item.cluster }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}