{% extends 'main/base.html' %}

{% block title %} Home

{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Welcome to Edurec</h1>
    <p>Are you a Form 4 leaver with no idea of what to study?</p>
    <p>Don't worry you are NOT alone?</p>
    <p>Millions of youth around your age are dumbfounded when it comes to this. </p> 
    <p>This is why I created this website to help guide you to choose a course based on your underlying interests, personality and what you hope to get from this</p>
    

    <!-- Your content for recommending majors can go here -->
    <h2>Explore Clusters</h2>
    <p>Explore different clusters of majors to find your interests.</p>

    <h2>Popular Courses</h2>
    <p>Check out popular courses that might align with your career goals.</p>

    <h2>Top Varsities</h2>
    <p>Explore top universities offering the majors you are interested in.</p>
</div>
{% endblock %}