{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home
{% endblock %}


{% block content %}
    <style>

        #homepage-top {
            color: #EEEAEB;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
        }

        #homepage-top p {
            font-size: 20px;
        }

        .column {
            flex: 1;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
            margin: 10px;
            border-radius: 10px;
        }

        .column:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            background-color: #3E2723;
            color: #fff;
        }

        .link-style {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }

        .link-style:hover {
            text-decoration: none;
            color: inherit;
        }

        .image-container {
            width: 100%;
            height: 50vh;
            position: relative;
            background-image: url("{% static 'images/uncropped.webp' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom , rgba(0, 0, 0, 0.582) 90%, rgba(255, 255, 255, 1));
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 20px;
        }

        .slider-text {
            width:50%;
            margin-left: 10%;
            color: #ffffffe1;
            font-size: 100%;
            align-items: center;
        }

        .text1 h1, .text2 h2, .text3 h4 {
            animation: fadeIn 2s forwards;
        }
        .text2 h2 {
            animation-delay: 1s;
        }
        .text3 h4 {
            animation-delay: 2s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .text-container {
            margin-top: 4%;
            display:flex;
            flex-direction: row;
            font-size: 0.8em;
            justify-content: space-evenly;
        }

        .text-container div:hover {
            transform: scale(1.05);
        }

   
        .start-here-btn {
            border-radius: 8px;
            border: none;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1em;
            width: 40%;
            margin: 10px 2px;
            cursor: pointer;
            background: linear-gradient(to bottom right, #2196F3, #000);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .start-here-btn:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .slider-text .start-here-btn {
            align-items: center;
            margin: 20px auto;
        }
    </style> 

    <div class="main-content">
        <div class="image-container" id='home-img'>
            <div class="overlay">

                <!-- <div class="slider-text text1">
                    <h1>Let's plan your next stage in life</h1>
                </div> -->

                <div class="slider-text text2">
                    <h2>Unsure about your next academic or career step?</h2>
                </div>

                <div class="slider-text">
                    <div class="start-here-btn">
                        Start here   
                    </div>
                </div>

            </div>
        </div>
        
        <div class="text-container">
            
            <div>
                <a href="{% url 'clusters' %}" class="link-style">
                    <h5>Clusters</h2>
                    <p>Find your field of interests.</p>
                </a>
            </div>
       
            <div>
                <a href="{% url 'courses' %}" class="link-style">
                    <h5>Courses</h2>
                    <p>Align with your career goals.</p>
                </a>
            </div>
            
            <div>
                <a href="{% url 'institutions' %}" class="link-style">
                    <h5>Institutions</h2>
                    <p>Explore available campuses and institutions.</p>
                </a>
            </div>
        
            <div>
                <a href="{% url 'questionnaire_view' %}" class="link-style">
                    <h5>Tailored Recommendations</h2>
                    <p>Get access to courses tailored to your specific needs.</p>
                </a>
            </div>
        

        </div>
        
    </div>
{% endblock %}